.container {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -3;
}

.contenedorTemplate {
  position: absolute;
  display: flex;
  /* background-color: white; */
  margin: auto;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}

.imgDesktop {
  display: none;
}

.imgMobile {
  display: block;
}

.contentIllustration {
  position: absolute;
  top: 0;
  width: 100%;

  background-color: var(--head);
  display: flex;
  justify-content: center;
  z-index: -2;
}

/* .illustration {
  width: 400px;
  height: 593px;
  background-image: url("/images/illustration-sign-up-desktop.svg");
  background-size: cover;
} */

.illustration {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-size: cover;
  background-image: var(--image-header);
  z-index: 2;
}

.todosContainer {
  position: absolute;
  width: 328px;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.title {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title h1 {
  font-size: 26px;
  letter-spacing: 10.5px;
  font-weight: 700;
  color: white;
}

.addTodo {
  display: flex;
  margin-top: 16px;
  width: 327px;
  height: 48px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 1px rgba(93, 93, 93, 0.1);
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: var(--bk-color-todo);
}

.addTodo button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--btn-check);
  margin-left: 20px;
  background-color: transparent;
  cursor: pointer;
}

.txtTodo {
  border: none;
  outline: none;
  background: transparent;

  font-size: 12px;
  font-family: "Josefin Sans", italic;
}

.todosItems {
  margin-top: 17px;
  width: 327px;
  border-radius: 5px;
  background-color: var(--bk-color-todo);
  box-shadow: 0.5px 5px 3px rgba(93, 93, 93, 0.1);
}

.todosItems ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 327px;
}

.status {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
  font-size: 11px;
  padding: 0 10px 0px 10px;
  margin-top: 1px;
  height: 49px;
  color: var(--dark-grayish-blue);
}

.clearCompleted {
  cursor: pointer;
}

.filter {
  margin-top: 12px;
  width: 327px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0.5px 5px 3px rgba(93, 93, 93, 0.1);
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  color: var(--dark-grayish-blue);
  background-color: var(--bk-color-todo);
  border-radius: 5px;
}

.filter span {
  cursor: pointer;
}

.selected {
  color: var(--blue);
}

.alertDragAndDrop {
  margin-top: 45px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: var(--dark-grayish-blue);
}

@media screen and (min-width: 541px) {
  .todosContainer {
    width: 541px;
  }

  .contentIllustration {
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
  }

  .imgDesktop {
    display: block;
  }

  .imgMobile {
    display: none;
  }

  .title {
    margin-top: 53px;
  }

  .title h1 {
    font-size: 38px;
    letter-spacing: 17px;
  }

  .addTodo {
    display: flex;
    margin-top: 16px;
    width: 540px;
    height: 62px;
  }

  .addTodo button {
    width: 25px;
    height: 25px;
    margin-left: 24px;
  }

  .txtTodo {
    margin-left: 12px;
    font-size: 18px;
    letter-spacing: -0.3px;
  }

  .todosItems {
    margin-top: 25px;
    width: 541px;
  }

  .status {
    font-size: 14px;
  }

  .filter {
    margin-top: -58px;
    background-color: transparent;
    box-shadow: none;
    font-size: 14px;
    margin-left: 110px;
    gap: 18px;
    z-index: 5;
  }

  .filter span {
    cursor: pointer;
    z-index: 6;
  }

  .alertDragAndDrop {
    margin-top: 55px;
  }
}
